{% load static %}
{% load has_group %}

<style type="text/css">
  .mon_logo
  {
    background-color: maroon;
    /*border: 3px solid orange;*/    
    position: absolute;
    left: 0%;
    top: 0px;
 }

 </style>


<div id="top-bar" class="top-bar">
  <div class="container">
    <div class="marquee-rtl">
        <!-- le contenu défilant -->
        <div>BIBLIOTHEQUE DE L'UNIVERSITE NANGUI ABROGOUA DE CÔTE D'IVOIRE...</div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="top-info text-center text-md-left">
            <li style="color:green;"><p class="info-text"></p></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
        {% comment %}
        <ul class="list-unstyled">
            <li>
              <a title="Facebook" href="https://facebbok.com/themefisher.com">
                  <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
              </a>
              <a title="Twitter" href="https://twitter.com/themefisher.com">
                  <span class="social-icon"><i class="fab fa-twitter"></i></span>
              </a>
              <a title="Instagram" href="https://instagram.com/themefisher.com">
                  <span class="social-icon"><i class="fab fa-instagram"></i></span>
              </a>
              <a title="Linkdin" href="https://github.com/themefisher.com">
                  <span class="social-icon"><i class="fab fa-github"></i></span>
              </a>
            </li>
        </ul>
        {% endcomment %}
      </div>
    </div>

  </div>
</div>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
      <div class="row">
        <div class="col-md-12">
          <!-- le conteneur fenêtre -->
          <marquee behavior="scroll" direction="left" scrollamount="2" scrolldelay="20" width="100%" style="color:white; background: #5a3a22;">
             <h6>BIBLIOTHEQUE DE L'UNIVERSITE NANGUI ABROGOUA DE COTE D'IVOIRE</h6>
          </marquee><br>
        </div>
      </div>
 
    

    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href=""><span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#" class="mon_logo"><img src="{% static 'images/logo.png' %}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'accueil:index' %}" class="active">ACCUEIL</a></li>

          <li class="dropdown"><a href="#"><span>PRESENTATION</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'accueil:presentation' %}">Présentation</a></li>
              <li><a href="{% url 'accueil:charte_bon_usage' %}">Charte de bon usage</a></li>
              <li><a href="{% url 'accueil:reglement_interieur' %}">Règlement intérieur</a></li>
            </ul>
          </li>

          <li><a href="{% url 'publication:traitement' %}">Publications</a></li>
          
          {% comment %}
          <li><a href="{% url 'actualite:evenement_lister' %}">Actualités</a></li>
          <li><a href="{% url 'galerie:index' %}">Galerie</a></li>
          {% endcomment %}

        {% if request.user.is_superuser or request.user.is_authenticated and request.user|has_group:"Personnel" %}
          <li class="dropdown"><a href="{#% url 'administration:index' %#}"><span>Administration</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            {% comment %}
            <li><a href="{#% url 'actualite:evenement_lister' %#}">Evènements</a></li>
            <li><a href="{#% url 'parametre:partenaire_lister' %#}">Partenaires</a></li>
            {% endcomment %}
            <li><a href="{% url 'abonne:abonne_lister' %}">Liste des Abonnés</a></li>
            <li><a href="{% url 'abonne:abonne_creer' %}">Créer un Abonné</a></li>
            <li><a href="{% url 'administration:accueil' %}">Saisie des Ouvrages</a></li>
          </ul>
          </li>
          {% endif %}

      {% if request.user.is_authenticated %}
        <li class="dropdown"><a href="{#% url 'administration:index' %#}"><span>Bienvenue {{ request.user.username }}</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            {% comment %}
            <li><a href="{#% url 'actualite:evenement_lister' %#}"> Profil</a></li>
            {% endcomment %}
            
            <li><a href="abonne/logout"> Déconnexion</a></li>
          </ul>  
        </li>
      {% else %}
        <a href="{% url 'abonne:register' %}"><span class="badge rounded-pill 
                  bg-success">S'abonner</span></a>

        <a href="{% url 'abonne:login' %}"><span class="badge rounded-pill 
                bg-success"> Se connecter</span></a>
      {% endif %}
     </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>

      
      </nav><!-- .navbar -->
      {% comment %}
      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>
      {% endcomment %}
    </div>
  </header><!-- End Header -->
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>